.gradle/
build/
**/build/
**/run-server/
**/run-gametest/
**/run-uitest/
.omo/evidence/
.omo/boulder.json
.omo/drafts/
.omo/run-continuation/
.omo/start-work/
.project
.settings/
**/.project
**/.settings/
**/.eclipse/
**/.classpath
**/bin/
